body {
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  width: 100%;
  height: 100%;
}

.bottom-windows {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 480px;
  flex-direction: row;

}

.editorbox{
  width: 500px;
  height: 480px;
  background: #fff;
  padding-top: 25px;
  border: 2px solid #d4d4d4;
  -webkit-box-shadow: inset 0px 25px 0px 0px rgba(91, 77, 91, 1);
  -moz-box-shadow: inset 0px 25px 0px 0px  rgba(91, 77, 91, 1);
  box-shadow: inset 0px 25px 0px 0px rgba(91, 77, 91, 1);
}

.hover {
  border-style: dotted;
  border-width: 1px;
}
.typeahead-selector {
  position: absolute;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  background-color: white;
  margin-top: -1px;
}
.typeahead-token {
  border-style: solid;
  border-color: gray;
  border-width: 1px 2px 2px 1px;
  padding: 1px 5px 1px 5px;
  margin-right: 4px;
  display: inline-block;
  border-radius: 5px;
}
.typeahead {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;
  display: inline-block;
}
.typeahead-token-close {
  text-decoration: none;
  margin-left: 8px;
}

input {
  border: none;
}

.span-autocomplete {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  float: left;
}
